* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;

  #quote-box {
    background-color: whitesmoke;
    width: 850px;
    height: 450px;
    border-radius: 3px;
    position: relative;
    padding: 50px;
  }

  #quote-text {
    font-family: "STIX Two Text", serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: end;
  }

  #quote-author {
    font-family: "STIX Two Text", serif;
    text-align: right;
  }

  .button-group {
    display: flex;
    height: 140px;

    .button-icon {
      font-size: 80px;
      margin-right: 10px;
      color: black;
    }
    .button-icon :hover {
      opacity: 0.8;
    }

    #new-quote {
      font-size: 1.5rem;
      align-self: center;
      margin-left: 420px;
    }
  }
}
